* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
}

.header {
  color: white;
  background-color: #707070;
  height: 450px;
  text-align: center;
  padding: 30px;
  margin-bottom: 80px;
}
.header.header-effect {
  transform: skew(0deg, 5deg);
  margin-top: -100px;
}
.header .header-content {
  margin-top: 160px;
  transform: skew(0deg, -5deg);
}
.header span {
  font-size: 20px;
  margin-bottom: 10px;
}
.header h1 {
  margin-bottom: 20px;
  font-size: 40px;
}
.header p {
  font-size: 14px;
}
.header .header-links {
  margin-top: 50px;
}
.header .header-links .link {
  margin: 0 20px;
  padding: 11px 30px;
  border: none;
  border-radius: 4px;
  color: #707070;
  font-size: 14px;
  background-color: white;
  text-decoration: none;
}
.header .header-links .link:hover {
  background-color: #707070;
  color: white;
  border: 1px solid white;
}

.content {
  position: relative;
}
.content .text {
  position: absolute;
  left: 200px;
  width: 520px;
  height: 240px;
}
.content .text h2 {
  margin: 10px 0px 20px 0px;
  color: #707070;
  font-size: 20px;
}
.content .text p {
  color: #707070;
}
.content .form {
  position: absolute;
  right: 101px;
  width: 340px;
}
.content .form form {
  display: flex;
  flex-direction: column;
}
.content .form form .labelForm {
  color: #707070;
  margin: 10px 10px 0 0;
  font-size: 14px;
}
.content .form form input {
  margin: 5px 0px;
  padding: 5px;
}
.content .form form .radioButtons {
  flex-direction: row;
  margin: 10px 0px 20px 0px;
}
.content .form form .buttonSubmit {
  padding: 10px;
  font-size: 16px;
  background-color: white;
  color: #707070;
  border: 1px solid #707070;
  border-radius: 4px;
}
.content .form form .buttonSubmit:hover {
  background-color: #707070;
  color: white;
}

.store {
  margin: 460px 0px 0px 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.store .line {
  height: 1px;
  width: 390px;
  border: 1px solid rgba(184, 184, 184, 0.9);
}
.store h2 {
  font-size: 18px;
  margin: 0 10px 0 10px;
  color: #707070;
}
.store .products-section {
  width: 980px;
  max-height: 1000px;
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #707070;
}
.store .products-section .products {
  width: 200px;
  margin: 20px 20px;
}
.store .products-section .products .divProductImg {
  width: 200px;
  height: 140px;
  border: 1px solid #707070;
  margin-bottom: 10px;
  text-align: center;
}
.store .products-section .products .productName {
  color: #707070;
  font-size: 14px;
  margin-bottom: 10px;
}
.store .products-section .products .productDescription {
  color: #707070;
  font-size: 12px;
  margin: 5px 0px;
}
.store .products-section .products .oldPrice {
  font-size: 10px;
  margin-bottom: 5px;
}
.store .products-section .products .price {
  font-size: 16px;
  margin-bottom: 3px;
}
.store .products-section .products .installments {
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}
.store .products-section .products .buyBtn {
  background-color: white;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  border: 1px solid #707070;
  border-radius: 4px;
  color: #707070;
  box-shadow: 1px 1px 1px #cccbcb;
}
.store .products-section .products .buyBtn:hover {
  background-color: #707070;
  color: white;
}
.store .products-section .moreBtn {
  position: relative;
  left: 380px;
  margin-top: 20px;
  background-color: white;
  font-size: 16px;
  padding: 5px 20px;
  border: 1px solid #707070;
  border-radius: 4px;
  color: #707070;
  box-shadow: 1px 1px 1px #cccbcb;
}
.store .products-section .moreBtn:hover {
  background-color: #707070;
  color: white;
}/*# sourceMappingURL=main.css.map */